@import '../../styles/mixins/common.scss';

.select {
  position: relative;

  & > select {
    @include input-styles();

    cursor: pointer;
    width: 100%;
    padding-right: 30px;

    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 17px;
    right: 12px;
    width: 0;
    height: 0;
    border: 5px solid #dcdcdc;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    cursor: pointer;
  }
}
