.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: left;

  &__logo {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    color: gray;
  }
}
