$primary-color: #565656;
$secondary-color: #dcdcdc;
$input-height: 50px;

@mixin input-styles {
  outline: none;
  padding: 12px 16px;
  border: 1px solid $secondary-color;
  border-radius: 2px;
  font-size: 16px;
  color: $primary-color;
  box-sizing: border-box;
  height: $input-height;
}
